
section{
    width: 1000px;
    background: white;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
}

section p{
    float: left;
    line-height: 20px;
    margin: 10px;
}

/* #content{
    margin-left: 20px;
} */

pre{
    line-height: 20px;
}


section h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

#secondhr{
    width: 600px;
    margin: 10px;
}

#clear{
    clear: both;
}