
*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: rgba(0, 89, 255, 0.81); */
    background-color: #2d46b9;
}

/* 


--------------------------------------------------- */

header{
    color: white;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    position: relative;
   
    width: 800px;
    left: -250px;
}

/* 
#logobox{
    /* position: absolute;
    } */

   
header h1{
    width: 500px;
    font-size: 50px;
    cursor: pointer;
    color: white;
}

a{
    text-decoration: none;
}


header h3{
    position: absolute;
    width: 500px;
    margin-left: -37.5px;
    line-height: 20px;
}

/* 수평선 */

#firsthr {
    margin: 40px;
}

/* nav 관련  */

nav{
    position: absolute;
    left: 500px;
}


nav ul{
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav li{
    display: inline;
    color: white;
    margin: 10px 10px 10px 2px;
}

/* footer----------------- */

footer{
    /* clear: both; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}

#ftdiv{
    background: #172560;
    width: 100%;
    height: 100%;
    color: white;
    bottom: 0;
}

#ftdiv p{
    margin: 20px;
    padding: 20px;
}