/* 
#center{
    margin: 0 auto;
    width: 90%;
    background-color: aquamarine;
}
 */

main{
    margin: 0 auto;
    width: 1020px;
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 30px;
    margin-top: 20px;
}

main img{
    width: 60%;
    margin: 0 auto;
    /* box-shadow: 10px 10px 10px 1px rgb(38, 38, 38); */
}

/* h1 글자모음 */
#ourpick, #category, #newarial{
    font-size: 50px;
    color: white;
    margin: 0 auto;
    width: 1020px;
}

section, article{
    width: 1020px;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 70px;
    margin-bottom: 100px;
    /* background-color: rgb(232, 101, 101); */
}


/* 
.box img{
    position: relative;
    width: 300px;
    height: 200px;
    background-size: cover;
    align-content: center;
    cursor: pointer;
    border-radius: 20px;
} */
 

article{
    margin-top: 300px;
}


.text{
    position: absolute;
    top: 10px;
    left: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
    width: 120px;
    font-size: 40px;
}

.box{
    position: relative;
    width: 310px;
    height: 200px;
    background-size: cover;
    align-content: center;
    cursor: pointer;
    border-radius: 20px;
    float: left;
    background-image:url(img/concert3.jpg) ;

    /* background-color: rgba(255, 255, 255); */
}

.box:nth-child(2){
    margin: 0 40px;
}




/* box2 ---------- New Arrial 관련 */


#article{
    width: 1020px;
    background-color: rgba(255, 255, 255, 0.1);
}

.box2{
    float: left;
    margin: 12px;
    /* background-color: rgba(255, 255, 255); */
    /* border-radius: 5px; */
    padding: 10px;
    /* box-shadow: 1px 1px 1px ; */
    /* position: relative; */
}

.box2 img{
    width: 210px;
    height: 210px;
    /* position: absolute; */
}

.box2 p{
    color: rgb(255, 255, 255);
    
    /* font-weight: bold; */
    /* position: absolute; */
}

.p2{
    width: 200px;
}

#clear{
    clear: both;
}


/* 

aside{
    float: left;
    background-color: palevioletred;
    width: 20%;
    height: 800px;
    padding: 10px;
} */